{% extends "base.html" %}
{% load static %}

{% block title %}view Course{% endblock title %}
{% block content %}

<div class="page-wrapper">
    <div class="content container-fluid">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Departments</h3>
                    <!-- Breadcrumb Navigation -->
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                        <li class="breadcrumb-item active">Departments</li>
                    </ul>
                </div>
                <div class="col-auto text-right float-right ml-auto">
                    <!-- Download Button -->
                    <a href="#" class="btn btn-outline-primary mr-2"><i class="fas fa-download"></i> Download</a>
                    <!-- Add Department Button -->
                    <a href="add-department.html" class="btn btn-primary"><i class="fas fa-plus"></i></a>
                </div>
            </div>
        </div>
        {% if messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {% for message in messages %}
            <strong>{{ message }}</strong>
            {% endfor %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}

        <!-- Department Table -->
        <div class="row">
            <div class="col-sm-12">
                <div class="card card-table">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover table-center mb-0 datatable">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Create</th>
                                        <th>Update</th>
                                        
                                        <th class="text-right">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Department Entries -->
                                     {% for c in course %}
                                    <tr>
                                        <td>{{c.id}}</td>
                                        <td>
                                            <h2><a>{{c.name}}</a></h2>
                                        </td>
                                        <td>{{c.created_date}}</td>
                                        <td>{{c.update_date}}</td>
                                        
                                        <td class="text-right">
                                            <!-- Edit and Delete Buttons -->
                                            <div class="actions">
                                                <a href="{% url 'edit_course' id=c.id %}" class="btn btn-sm bg-success-light mr-2">
                                                    <i class="fas fa-pen"></i> Edit
                                                </a>
                                                <a href="{% url "crouse_delate" id=c.id %}" class="btn btn-sm bg-danger-light">
                                                    <i class="fas fa-trash"></i> Delete
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    <!-- More Department Entries -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
