{% extends "base.html" %}
{% block title %}Subject{% endblock title %}
{% block content %}
<div class="page-wrapper">
    <div class="content container-fluid">
       <div class="page-header">
          <div class="row align-items-center">
             <div class="col">
                <h3 class="page-title">Subjects</h3>
                <ul class="breadcrumb">
                   <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                   <li class="breadcrumb-item active">Subjects</li>
                </ul>
             </div>
             <div class="col-auto text-right float-right ml-auto">
                <a href="{% url "subject_view" %}" download='staf_list.jpg' class="btn btn-outline-primary mr-2"><i class="fas fa-download"></i> Download</a>
                <a href="{% url "subjectAdd" %}" class="btn btn-primary"><i class="fas fa-plus"></i></a>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-sm-12">
             <div class="card card-table">
                <div class="card-body">
                   <div class="table-responsive">
                      <table class="table table-hover table-center mb-0 datatable">
                         <thead>
                            <tr>
                               <th>ID</th>
                               <th>Name</th>
                               <th>Course</th>
                               <th>Staff</th>
                               <th>Create Date</th>
                               <th>Update Date</th>
                               <th class="text-right">Action</th>
                            </tr>
                         </thead>
                         <tbody>
                            {% for s in subject %}
                            <tr>
                               <td>{{s.id}}</td>
                               <td>
                                  <h2>
                                     <a>{{s.subject_name}}</a>
                                  </h2>
                               </td>
                               <td>{{s.course.name}}</td>
                               <td>{{s.staf_name.admin.first_name}} {{s.staf_name.admin.last_name}}</td>
                               <td>{{s.create}}</td>
                               <td>{{s.update}}</td>
                               <td class="text-right">
                                  <div class="actions">
                                     <a href="{% url "sub-edit" s.id %}" class="btn btn-sm bg-success-light mr-2">
                                     <i class="fas fa-pen"></i>
                                     </a>
                                     <a href="#" class="btn btn-sm bg-danger-light">
                                     <i class="fas fa-trash"></i>
                                     </a>
                                  </div>
                               </td>
                            </tr>
                            {% endfor %}
                            
                               
                            
                         </tbody>
                      </table>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
    
{% endblock content %}

<ol>
   <li>Coffee</li>
   <li>Tea</li>
   <li>Milk</li>
 </ol>

 